.landing-container {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  padding: 20px;
  padding-top: 100px;
}

.help-container{
  position: fixed;
  z-index: 9;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.help-container:hover {
  transform: scale(1.05);
}

.helpIcon{
  background-color: #f5c115;
  padding: 10px;
  border-radius: 45px;
  margin-bottom: 20px;
}

.hero-section {
  color: white;
  padding: 50px 20px;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}


.heroSection-heading{
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: "Bree Serif";
}

.hero-section p {
  font-size: 1.2rem;
  font-family: "Crimson Text";
}

p {
  font-family: "Crimson Text";
  font-size: 1.3rem;
}

.about-section{
  display: flex;
  transition: transform 0.3s ease;
}

.about-section:hover {
  transform: scale(1.01);
}

.about-section,
.highlights-section {
  margin: 20px 0;
  padding: 30px;
  border-radius: 10px;
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.aboutImage{
  width: 20%;
  border-radius: 20px;
}

.aboutSection-details{
  padding-left: 20px;
}

.highlights-section{
  color: white;
  display: inline-block;
  border-radius: 5px;
  font-family: "Bree Serif";
  width: 95%;
}

.highlight-section-cards{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  
}

.highlight-card{
  flex-basis: 20%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.highlight-card:hover {
  transform: scale(1.05);
}


.wildfire-package-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}



.wildfire-packages {
  text-align: center;
  padding: 50px 20px;
  background: #f9f9f9;
}

.package-card {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.package-card:hover {
  transform: scale(1.05);
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #750240;
  font-family: "Bree Serif";
  font-style: italic;
}

.package-card h3 {
  color: #750240;
  font-size: 1.4rem;
  font-family: "Bree Serif";
}

.package-card p {
  font-size: 1.2rem;
  color: #333;
  font-family: "Crimson Text";
}

p{
  color: #000;
}

.btn {
  background: #f2841d;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;


}

.book-btn {
  background: #0384fc;
}

.btn:hover {
  opacity: 0.8;
}


.slider-container {
  padding: 0px;
  height: 80vh;
}

.sliderImage {
  width: 100%;
  height: 80vh;
}