.itinerary-container {
    padding: 30px;
    background: #f4f4f4;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1300px;

    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.itinerary-title {
    text-align: center;
    font-size: 2rem;
    color: #750240;
    font-family: "Bree Serif";
    font-style: italic;
    margin-bottom: 20px;
}

.itinerary-day {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 20px;
    height: 60vh;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    display: flex;
}

.data-container {
    padding: 40px;
}

.itinerary-day:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.itinerary-day h3 {
    color: #033263;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-family: "Bree Serif";
}

.itinerary-day p {
    color: #555;
    font-family: "Crimson Text";
    font-size: 1.4rem;
    line-height: 1.6;
}

.itinerary-day img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
    transition: transform 0.3s ease-in-out;
}

.itinerary-day img:hover {
    transform: scale(1.05);
}